$pop: #8685EF;
$dark-bg-text:#00AC7C;

body{
  background-color: #3f3f3f;
}
main{
  background-color: #3f3f3f;
  display:grid;
  grid-template-rows: 1fr 1fr;
  
  gap:20px;
}
.dark-bg-text{
  color: $dark-bg-text;
}
.weather{
  display:grid;
  grid-template-columns: 1fr .8fr;
  grid-template-areas: 
  'location location'
  'img  temp'
  'conditions button';
  align-content: center;
  justify-content: center;
  padding:2em;
  background-color: $pop;
  
}
#location{
  grid-area: location;
  text-align: center;
  background-color: $pop;
}
#conditions{
  grid-area: conditions;
}
#temperature{
  grid-area: temp;
}
#weather-icon{
  grid-area: img;
}
#changeTemp{
  grid-area: button;
}
.container-5day{
  display:grid;
  grid-template-rows: 1fr 1fr;
  h1{
    justify-self: center;
  }
}

.five-day-forecast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.five-day-forecast > div{
  display:grid;
  background-color: $pop;
  grid-template-rows:1fr 1fr ;
  justify-content: center;
  align-items: center;
}
#enter-city{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:10px;
}