body{
  background-color: #3f3f3f;
}
header{
  background-color: #fff;
}
main{
  background-color: #fff;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.five-day-forecast{
  display:flex;
  background-color: red;
}